./.server
app/__pycache__
app/database/__pycache__
app/models/__pycache__
app/routes/__pycache__
app/services/__pycache__
.env
app/repositories/__pycache__
keys.json
app/schemas/__pycache__
.server
lambda.zip
layer.zip
python/